<footer class="footer-area" id="section-{{ section.id }}">
  {% if section.settings.effect_snow_enable %}
  <span  class="body-effect effect-snow"></span>
  {% endif %}
  {% render 'footer-top' %}
  {% render 'footer-bottom' %}
</footer>


{%- render 'section-style' -%}



<style>
  
      
  #section-{{ section.id }} .effect-snow {
    background-image: url({% if section.settings.effect_img %}{{ section.settings.effect_img | img_url: 'master' }}{% else %}http:\/\/via.placeholder.com\/500x500{% endif %});
    -webkit-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}
  
  
</style> 


{% schema %}
{
  "name": "Footer",
  "settings": [
  {
    "type": "checkbox",
    "id": "effect_snow_enable",
    "label": "Effect Snow Enable",
    "default": false
  },
  {
    "type": "checkbox",
    "id": "footer_top_enable",
    "label": "Footer Top Enable",
    "default": true
  },
  {
    "type": "checkbox",
    "id": "footer_bottom_enable",
    "label": "Footer Bottom Enable",
    "default": true
  },
  {
		"type": "header",
		"content": "Copy Right"
	  },
	  {
        "type": "checkbox",
        "id": "copy_right_enable",
        "label": "Copy Right Enable",
        "default": true
      },
	  {
          "type": "radio",
          "id": "footer_text_style",
          "label": "Text Aligned Style",
          "options":[
            {
              "value":"copy_style_left",
              "label": "Left"
            },
            {
              "value":"copy_style_center",
              "label": "center"
            },
            {
              "value":"copy_style_right",
              "label": "right"
            }

          ],

          "default": "copy_style_center"
        },
      {
        "type": "textarea",
        "id": "copy_right",
        "label": "Copy Right Text"
      },
      {
        "type": "header",
        "content": "Payment Logo"
        },
        {
            "type": "checkbox",
            "id": "payment_logo_enable",
            "label": "Payment Logo Enable",
            "default": true
          },
        {
              "type": "radio",
              "id": "footer_text_2_style",
              "label": "Aligned Style",
              "options":[
                {
                  "value":"copy_style_2_left",
                  "label": "Left"
                },
                {
                  "value":"copy_style_2_center",
                  "label": "center"
                },
                {
                  "value":"copy_style_2_right",
                  "label": "right"
                }
    
              ],
    
              "default": "copy_style_2_right"
            },
          {
            "type": "image_picker",
            "id": "payment_logo",
            "label": "Payment Logo",
            "info": "Recommended Size: 364 x 42px"
          },
          {
            "type": "url",
            "id": "payment_logo_url",
            "label": "URL"
          },
          {
            "type": "header",
            "content": "Color"
          },
          {
            "type": "color",
            "id": "top_bg_color",
            "label": "Top BG Color",
            "default": "#f6f7f7"
          },
          {
              "type": "color",
              "id": "bottom_bg_color",
              "label": "Bottom BG Color",
              "default": "#e7e8e8"
          },
          {
            "type": "color",
            "id": "copy_right_color",
            "label": "Copy Right Color",
            "default": "#242424"
          }, 
          {
            "type": "color",
            "id": "copy_anchor_color",
            "label": "Copy Right Anchor Color",
            "default": "#000"
          }
  ],
  "blocks": [
    {
        "type": "contact_information",
        "name": "Information",
        "settings": [
            {
                "type": "text",
                "id": "footer_info_coloum",
                "label": "Footer Info Column Control",
                "default": "4",
                "info": "Follow Bootstrap Column"
            },
            {
                "type": "text",
                "id": "contact_title",
                "label": "Contact Title",
                "default": "About Us"
            },
            {
                "type": "textarea",
                "id": "contact_description",
                "label": "Contact Description",
                "default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididun"
            },
            {
                "type": "header",
                "content": "Contact Address"
            },
            {
                "type": "textarea",
                "id": "address_title",
                "label": "Address Title",
                "default": "Address: 123 Main Street, Anytown, CA 12345 - USA."
            },
            {
                "type": "textarea",
                "id": "phone_number",
                "label": "Phone Number",
                "default": "Telephone: (012) 800 456 789-987"
            },
            {
                "type": "textarea",
                "id": "email",
                "label": "Email",
                "default": "Email: yourmail@example.com"
            },
            {
                "type": "header",
                "content": "Icon With Link"
            },
            {
                "type": "text",
                "id": "social_icon_1_name",
                "label": "Social Icon Name",
                "default": "facebook",
                "info": "Ionicons Icon [See Icon](http:\/\/ionicons.com\/)"
            },
            {
                "type": "url",
                "id": "socila_icon_1_link",
                "label": "Link"
            },
            {
                "type": "header",
                "content": "Icon With Link"
            },
            {
                "type": "text",
                "id": "social_icon_2_name",
                "label": "Social Icon Name",
                "default": "twitter",
                "info": "Ionicons Icon [See Icon](http:\/\/ionicons.com\/)"
            },
            {
                "type": "url",
                "id": "socila_icon_2_link",
                "label": "Link"
            },
            {
                "type": "header",
                "content": "Icon With Link"
            },
            {
                "type": "text",
                "id": "social_icon_3_name",
                "label": "Social Icon Name",
                "default": "instagram-outline",
                "info": "Ionicons Icon [See Icon](http:\/\/ionicons.com\/)"
            },
            {
                "type": "url",
                "id": "socila_icon_3_link",
                "label": "Link"
            },
            {
                "type": "header",
                "content": "Icon With Link"
            },
            {
                "type": "text",
                "id": "social_icon_4_name",
                "label": "Social Icon Name",
                "default": "googleplus-outline",
                "info": "Ionicons Icon [See Icon](http:\/\/ionicons.com\/)"
            },
            {
                "type": "url",
                "id": "socila_icon_4_link",
                "label": "Link"
            },
            {
                "type": "header",
                "content": "Icon With Link"
            },
            {
                "type": "text",
                "id": "social_icon_5_name",
                "label": "Social Icon Name",
                "default": "rss",
                "info": "Ionicons Icon [See Icon](http:\/\/ionicons.com\/)"
            },
            {
                "type": "url",
                "id": "socila_icon_5_link",
                "label": "Link"
            },
            {
                "type": "header",
                "content": "Icon With Link"
            },
            {
                "type": "text",
                "id": "social_icon_6_name",
                "label": "Social Icon Name",
                "default": "dribbble-outline",
                "info": "Ionicons Icon [See Icon](http:\/\/ionicons.com\/)"
            },
            {
                "type": "url",
                "id": "socila_icon_6_link",
                "label": "Link"
            },
            {
                "type": "header",
                "content": "Color"
            },
            {
                "type": "color",
                "id": "title_color",
                "label": "Title Color",
                "default": "#242424"
            },
            {
                "type": "color",
                "id": "description_color",
                "label": "Description Color",
                "default": "#242424"
            },
            {
                "type": "color",
                "id": "contact_color",
                "label": "Contact Address Color",
                "default": "#242424"
            },
            {
                "type": "color",
                "id": "social_color",
                "label": "Social Color",
                "default": "#333"
            },
            {
                "type": "color",
                "id": "social_hover_color",
                "label": "Social Hover Color",
                "default": "#ff3d2a"
            }
        ]
    },
    {
			"type": "footer_menu",
			"name": "Menu",
			"settings": [
				  {
					"type": "text",
					"id": "footer_menu_coloum",
					"label": "Menu Column Control",
					"default": "2",
                    "info": "Follow Bootstrap Column"
				  },
                  {
                      "type": "text",
                      "id": "footer_menu_title",
                      "label": "Menu Title",
					  "default": "Information"
                  },
                  {
                      "type": "link_list",
                      "id": "footer_menu_handle",
                      "label": "Select Menu"
                  },
                  {
                    "type": "header",
                    "content": "Color"
                  }, 
                  {
                    "type": "color",
                    "id": "title_color",
                    "label": "Title Color",
                    "default": "#242424"
                  }, 
                  {
                    "type": "color",
                    "id": "menu_color",
                    "label": "Menu Color",
                    "default": "#242424"
                  }, 
                  {
                    "type": "color",
                    "id": "menu_hover_color",
                    "label": "Menu Hover Color",
                    "default": "#ff3d2a"
                  }
				]
		},
    {
      "type": "newslatter_area",
      "name": "Newslatter Area",
      "settings": [
          {
              "type": "text",
              "id": "footer_newslatter_coloum",
              "label": "Newslatter Column Control",
              "default": "4",
              "info": "Follow Bootstrap Column"
          },
          {
              "type": "text",
              "id": "footer_newslatter_title",
              "label": "Newlatter Title",
              "default": "Join Our Newsletter Now"
          },
          {
              "type": "text",
              "id": "footer_newslatter_description",
              "label": "Newlatter Description",
              "default": "Get E-mail updates about our latest shop and special offers."
          },
          {
              "type": "text",
              "id": "newslatter_button_title",
              "label": "Button Title",
              "default": "Subscribe"
          },
          {
              "type": "header",
              "content": "Color"
          },
          {
              "type": "color",
              "id": "title_color",
              "label": "Title Color",
              "default": "#242424"
          },
          {
              "type": "color",
              "id": "description_color",
              "label": "Description Color",
              "default": "#242424"
          },
          {
              "type": "color",
              "id": "input_text_color",
              "label": "Input Text Color",
              "default": "#242424"
          },
          {
              "type": "color",
              "id": "input_border_color",
              "label": "Input Border Color",
              "default": "#bbb"
          },
          {
              "type": "color",
              "id": "button_text_color",
              "label": "Button Text Color",
              "default": "#fff"
          },
          {
              "type": "color",
              "id": "button_bg_color",
              "label": "Button BG Color",
              "default": "#ff3d2a"
          },
          {
              "type": "color",
              "id": "button_text_hover_color",
              "label": "Button Text Hover Color",
              "default": "#fff"
          },
          {
              "type": "color",
              "id": "button_bg_hover_color",
              "label": "Button BG Hover Color",
              "default": "#333"
          }
      ]
      
  },
  {
    "type": "section_padding",
    "name": "Section Padding",
"limit": 1,
    "settings": [
      {
  "type": "header",
  "content": "Large/Desktop Device"
},
{
  "type": "range",
  "id": "section_padding_top",
  "min": 0,
  "max": 150,
  "step": 5,
  "label": "Padding Top",
  "unit": "px",
  "default": 0
},
{
  "type": "range",
  "id": "section_padding_bottom",
  "min": 0,
  "max": 150,
  "step": 5,
  "label": "Padding Bottom",
  "unit": "px",
  "default": 100
},
{
  "type": "header",
  "content": "Tablet Device"
},
{
  "type": "range",
  "id": "section_padding_top_md",
  "min": 0,
  "max": 150,
  "step": 5,
  "label": "Padding Top",
  "unit": "px",
  "default": 0
},
{
  "type": "range",
  "id": "section_padding_bottom_md",
  "min": 0,
  "max": 150,
  "step": 5,
  "label": "Padding Bottom",
  "unit": "px",
  "default": 80
},
{
  "type": "header",
  "content": "Mobile Device"
},
{
  "type": "range",
  "id": "section_padding_top_xs",
  "min": 0,
  "max": 150,
  "step": 5,
  "label": "Padding Top",
  "unit": "px",
  "default": 0
},
{
  "type": "range",
  "id": "section_padding_bottom_xs",
  "min": 0,
  "max": 150,
  "step": 5,
  "label": "Padding Bottom",
  "unit": "px",
  "default": 60
}
    ]
 },
{
    "type": "section_margin",
    "name": "Section Margin",
"limit": 1,
    "settings": [
      {
  "type": "header",
  "content": "Large/Desktop Device"
},
{
  "type": "range",
  "id": "section_margin_top",
  "min": 0,
  "max": 150,
  "step": 5,
  "label": "Margin Top",
  "unit": "px",
  "default": 0
},
{
  "type": "range",
  "id": "section_margin_bottom",
  "min": 0,
  "max": 150,
  "step": 5,
  "label": "Margin Bottom",
  "unit": "px",
  "default": 0
},
{
  "type": "header",
  "content": "Tablet Device"
},
{
  "type": "range",
  "id": "section_margin_top_md",
  "min": 0,
  "max": 150,
  "step": 5,
  "label": "Margin Top",
  "unit": "px",
  "default": 0
},
{
  "type": "range",
  "id": "section_margin_bottom_md",
  "min": 0,
  "max": 150,
  "step": 5,
  "label": "Margin Bottom",
  "unit": "px",
  "default": 0
},
{
  "type": "header",
  "content": "Mobile Device"
},
{
  "type": "range",
  "id": "section_margin_top_xs",
  "min": 0,
  "max": 150,
  "step": 5,
  "label": "Margin Top",
  "unit": "px",
  "default": 0
},
{
  "type": "range",
  "id": "section_margin_bottom_xs",
  "min": 0,
  "max": 150,
  "step": 5,
  "label": "Margin Bottom",
  "unit": "px",
  "default": 0
}
    ]
 },
{
    "type": "section_background",
    "name": "Section Background",
"limit": 1,
    "settings": [
      {
  "type": "image_picker",
  "id": "section_bg_image",
  "label": "BG Image"
},
{
  "type": "color",
  "id": "section_bg_color",
  "label": "BG Color",
  "default": "#ffffff"
}
    ]
 }
  
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
