


<!-- header start -->
<header class="header-area {% if template == 'index' %} {% if section.settings.transperant_header_enable %} transperant-header {% endif %}{% endif %} clearfix"  id="section-{{ section.id }}">
  {% render 'header-top' %}
  {% render 'header-bottom' %}
 
  <div style="display: none;">
    {% render 'currency-picker' %}
  </div>
</header>

{% render 'section-style' %}


{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "checkbox",
      "id": "header_top_enable",
      "label": "Header Top Enable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "header_bottom_enable",
      "label": "Header Bottom Enable",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "stickey_header_enable",
      "label": "Stickey Header Enable",
      "default": true
    },
    {
      "type": "text",
      "id": "top_menu_title",
      "label": "Menu Title",
      "default": "My Account"
      },
    {
      "type": "link_list",
      "id": "header_top_menu",
      "label": "Select Menu"
      },
      {
        "type": "header",
        "content": "logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Upload Logo",
		"info": "Recommended Size: 132 x 42px"
      },
		{
          "type": "range",
          "id": "logo_width",
          "label": "Custom logo width",
          "min": 50,
          "max": 300,
          "step": 5,
          "unit": "px",
          "default": 150
        },
		{
          "type": "checkbox",
          "id": "ratina_logo_enable",
          "label": "Retina Logo Enable",
		  "default": false
        },
        {
          "type": "header",
          "content": "Mini Cart"
        },
      {
      "type": "text",
      "id": "cart_title",
      "label": "Cart Title",
      "default": "My Cart"
      },
      {
      "type": "text",
      "id": "view_cart_title",
      "label": "View Cart Title",
      "default": "view cart"
      },
      {
      "type": "text",
      "id": "checkout_title",
      "label": "Checkout Title",
      "default": "checkout"
      },
      {
        "type": "header",
        "content": "Color"
      },
      {
        "type": "color",
        "id": "top_bg_color",
        "label": "Top BG Color",
        "default": "#ffffff"
      }, 
      {
        "type": "color",
        "id": "border_bottom_color",
        "label": "Header Tob Border Color",
        "default": "#ededed"
      },
      {
          "type": "color",
          "id": "bottom_bg_color",
          "label": "Bottom BG Color",
          "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "sticky_bg_color",
        "label": "Sticky Header BG Color",
        "default": "#fff"	
      },
      {
        "type": "color",
        "id": "wellcome_text_color",
        "label": "Wellcome Color",
        "default": "#454545"
      },
      {
        "type": "color",
        "id": "search_icon_color",
        "label": "Search Icon Color",
        "default": "#545454"
      },
      {
        "type": "color",
        "id": "header_top_menu_color",
        "label": "Header Top Menu Color",
        "default": "#454545"
      },
      {
        "type": "color",
        "id": "header_top_sub_menu_color",
        "label": "Header Top Sub Menu Color",
        "default": "#454545"
      },
      {
        "type": "color",
        "id": "header_top_menu_hover_color",
        "label": "Header Top Menu Hover Color",
        "default": "#ff3d2a"
      },
      {
        "type": "color",
        "id": "header_top_sub_menu_hover_color",
        "label": "Header Top Sub Menu Hover Color",
        "default": "#ff3d2a"
      },
      {
        "type": "color",
        "id": "menu_color",
        "label": "Menu Color",
        "default": "#454545"
      },
      {
        "type": "color",
        "id": "sub_menu_color",
        "label": "Sub Menu Color",
        "default": "#454545"
      },
      {
        "type": "color",
        "id": "mega_menu_color",
        "label": "Mega Menu Color",
        "default": "#454545"
      },
      {
        "type": "color",
        "id": "menu_hover_color",
        "label": "Menu Hover Color",
        "default": "#ff3d2a"
      },
      {
        "type": "color",
        "id": "sub_menu_hover_color",
        "label": "Sub Menu Hover Color",
        "default": "#ff3d2a"
      },
      {
        "type": "color",
        "id": "mega_menu_hover_color",
        "label": "Mega Menu Hover Color",
        "default": "#ff3d2a"
      },
      {
        "type": "color",
        "id": "cart_icon_color",
        "label": "Cart Icon Color",
        "default": "#454545"
      },
      {
        "type": "color",
        "id": "count_text_color",
        "label": "Count Text Color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "count_bg_color",
        "label": "Count BG Color",
        "default": "#ff3d2a"
      },
      {
        "type": "color",
        "id": "cart_text_color",
        "label": "Cart Text Color",
        "default": "#454545"
      },
      {
        "type": "color",
        "id": "mobile_menu_icon_color",
        "label": "Mobile Menu Icon Color",
        "default": "#333"
      },
      {
        "type": "color",
        "id": "mobile_menu_icon_border_color",
        "label": "Mobile Menu Icon Border Color",
        "default": "#333"
      },
      {
        "type": "color",
        "id": "mobile_menu_color",
        "label": "Mobile Menu Color",
        "default": "#242424"
      },
      {
        "type": "color",
        "id": "mobile_sub_menu_color",
        "label": "Mobile Sub Menu Color",
        "default": "#242424"
      },
      {
        "type": "color",
        "id": "mobile_mega_menu_color",
        "label": "Mobile Mega Menu Color",
        "default": "#242424"
      },
      {
        "type": "color",
        "id": "mobile_menu_bg_color",
        "label": "Mobile Menu BG Color",
        "default": "#f8f8f8"
      },
      {
        "type": "color",
        "id": "mobile_sub_menu_bg_color",
        "label": "Mobile Sub Menu BG Color",
        "default": "#f8f8f8"
      },
      {
        "type": "color",
        "id": "mobile_mega_menu_bg_color",
        "label": "Mobile Mega Menu BG Color",
        "default": "#f8f8f8"
      },
      {
        "type": "color",
        "id": "mobile_menu_hover_color",
        "label": "Mobile Menu Hover Color",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "mobile_sub_menu_hover_color",
        "label": "Mobile Sub Menu Hover Color",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "mobile_mega_menu_hover_color",
        "label": "Mobile Mega Menu Hover Color",
        "default": "#000"
      },  
      {
        "type": "color",
        "id": "mobile_menu_bg_hover_color",
        "label": "Mobile Menu BG Hover Color",
        "default": "#f8f8f8"
      }, 
      {
        "type": "color",
        "id": "mobile_sub_menu_bg_hover_color",
        "label": "Mobile Sub Menu BG Hover Color",
        "default": "#f8f8f8"
      }, 
      {
        "type": "color",
        "id": "mobile_mega_menu_bg_hover_color",
        "label": "Mobile Mega Menu BG Hover Color",
        "default": "#f8f8f8"
      }
    
  ],
  "blocks": [
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	]
}
{% endschema %}