/* Newsletter popup css */
.popup_wrapper {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  height: 100%;
  opacity: 0;
  position: fixed;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  width: 100%;
  z-index: 9999999;
}
.newsletter_popup_inner {
  background: #fff;
  align-items: center;
  border-radius: 0;
  bottom: 0;
  box-shadow: 0 0 7px 1px #222222;
  color: #ffffff;
  display: flex;
  height: 400px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 800px;
  z-index: 9999999; 
}
.subscribe_area {
  padding: 40px 150px;
  text-align: center;
  width: 100%;
}
.subscribe_area > h2, .subscribe-content > h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}
.subscribe_area > p, .subscribe-content > p {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  line-height: 25px;
}
.subscribe-form-group {
  text-align: center;
  margin-bottom: 0;
}
.subscribe-form-input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #dddddd;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: 40px;
  margin: 0 auto;
  padding: 5px 10px;
  max-width: 300px;
}
.subscribe-form-input:focus{
  box-shadow:none;
  border:1px solid #dddddd;
}
.popup_off {
  border-radius: 0;
  color: #000000;
  cursor: pointer;
  display: block;
  font-size: 25px;
  opacity: 1;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 15px;
  line-height: 25px;
  height: 30px;
  width: 30px;
  text-align: center;
  z-index: 99;
}
.newsletter-btn {
  background: #000000 none repeat scroll 0 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  margin-top: 25px;
  padding: 5px 25px;
}
.newsletter-btn:hover {
  background: #666666 none repeat scroll 0 0;
  color: #ffffff;
}
.subscribe-form-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666666;
}
.subscribe-form-input::-moz-placeholder { /* Firefox 19+ */
  color: #666666;
}
.subscribe-form-input:-ms-input-placeholder { /* IE 10+ */
  color: #666666;
}
.subscribe-form-input:placeholder { /* Firefox 18- */
  color: #666666;
}
.newsletter_popup_inner:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  content: "";
  opacity: .6;
  height: 100%;
}
.subscribe_area {
  z-index: 9;
}
.subscribe-content {
  float: left;
  padding: 0px 50px;
  width: 60%;
}
.subscribe-image {
  float: left;
  width: 40%;
}
.subscribe_area.area-2 {
  padding: 0;
  display: flex;
  align-items: center;
}
.form-group.subscribe-form-group p {
  color: #000;
  margin: 20px 0 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .newsletter_popup_inner {
    width: 720px;
    height: 360px;
  }
  .subscribe-content {
    padding: 50px;
  }
}
@media (max-width: 767px) {
  .newsletter_popup_inner {
    min-height: 300px;
    width: 300px;
  }
  .subscribe_area {
    padding: 20px;
    width: 100%;
  }  	
  .subscribe_area > h2, .subscribe-content > h2 {
    font-size: 20px;
  }
  .subscribe-image {
    display: none;
  }
  .subscribe-content {
    padding: 30px;
    width: 100%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .newsletter_popup_inner {
    width: 400px;
  }
}
/* End Newsletter popup css */
/* Top Notification Bar */
.top-notification-bar {
	background: #43cea2;
	background: -moz-linear-gradient(left, #43cea2 0%, #185b9d 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #43cea2), color-stop(100%, #185b9d));
	background: -webkit-linear-gradient(left, #43cea2 0%, #185b9d 100%);
	background: -o-linear-gradient(left, #43cea2 0%, #185b9d 100%);
	background: -ms-linear-gradient(left, #43cea2 0%, #185b9d 100%);
	background: linear-gradient(to right, #43cea2 0%, #185b9d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43cea2', endColorstr='#185b9d', GradientType=1 );
	padding: 10px 0;
  	position: relative;
}
.top-notification-bar::before {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.notification-entry {}
.notification-entry p {
  color: #ffffff;
  display: inline-block;
  font-family: "Karla",sans-serif;
  font-weight: 400;
  margin: 0;
}
.notification-entry p a {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 3px;
  color: #319da0;
  display: inline-block;
  font-family: "Karla",sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 35px;
  line-height: 24px;
  margin-left: 15px;
  padding: 5px 20px;
  text-transform: uppercase;
}
.notification-entry p a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
.notification-close-btn {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 50px;
  color: #ffffff;
  display: block;
  float: right;
  font-size: 18px;
  height: 25px;
  line-height: 25px;
  margin-top: 5px;
  position: relative;
  transition: all 0.3s ease 0s;
  width: 25px;
  z-index: 999;
}
.notification-close-btn:hover {
  background-color: #fff;
  color: #319da0;
}
.notification-entry p a {
  width: auto;
}
@media only screen and (max-width: 767px) {
.notification-entry p {
  padding: 0 30px;
}
.notification-entry p a {
  display: block;
  margin: 10px auto 0;
  width: 110px;
}
.notification-close-btn {
  position: absolute;
  right: 15px;
  top: 0;
}	

}

@media only screen and (max-width: 479px) {

}

/* End Top Notification Bar */
/* quick view */
.productModal .selector-wrapper > label {
  width: 15%;
}
.productModal .single-option-selector {
  border-radius: 0;
  height: 35px;
  padding: 7px;
  width: 50%;
}
.productModal .selector-wrapper {
  margin-bottom: 15px;
  margin-top: 15px;
}
.productModal .variants_selects {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
}
.productModal .wrapper.input-content > label {
  float: left;
  margin-bottom: 0;
  margin-right: 15px;
  margin-top: 5px;
}
.productModal .wrapper.input-content {
  margin-top: 20px;
  padding: 0;
}
.productModal .cart-plus-minus {
  margin-right: 20px;
  margin-top: 5px;
}
.productModal .modal-product .product-images {
  width: 45%;
}
.productModal .modal-product .product-info {
  width: 55%;
}
.productModal .stock2 {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
}
.productModal button.close {
  opacity: 1;
}
.productModal button.close > span {
  font-size: 14px;
}
.productModal button.close:hover span{
    background: #ff7f00 none repeat scroll 0 0;
    border-color: #ff7f00;
    color: #fff;
}
.productModal .s-price-box .amount {
  color: #a6a6a6;
  font-size: 15px;
  text-decoration: line-through;
  font-weight: normal;
}
.productModal .selector-wrapper > label{
	display: none;
}
.productModal .selector-wrapper > label[for=product-select-qv-option-0], .productModal .selector-wrapper > label[for=product-select-qv-option-1],
.productModal .selector-wrapper > label[for=product-select-qv-option-2], .productModal .selector-wrapper > label[for=product-select-qv-option-3]
{
	display: inline-block;
}
.disabled-add-to-cart {
  cursor: not-allowed;
}
/* end quick view */
ul ul, ul ol, ol ol, ol ul {
    margin: 0;
}
.mega-menu-tree a.mega-menu-title {
    color: #454545;
    font-size: 15px;
    margin: 0 0 17px;
    text-transform: uppercase;
    line-height: 15px;
}
.mega-menu-tree a.mega-menu-title::before,.main-menu nav > ul > li > ul.mega-menu > li.menu-img a:before{
	display:none;
}
.main-menu nav > ul > li > ul.mega-menu > li.menu-img {
    padding: 0;
    margin: 0;
}
.main-menu ul li.top-hover ul li.mega-menu-tree:hover  > a.mega-menu-title,.main-menu nav > ul > li > ul.mega-menu > li.menu-img:hover > a {
    padding-left: 0;
}

li.cart-dropdown.cart-empty-title {
    display: none;
    border: 0;
    margin: 0;
    padding: 15px 30px;
}

li.cart-dropdown.cart-empty-title h2 {
    font-size: 20px;
    margin: 0;
}

.shopping-cart-content {
    padding: 0;
}

.subscribe-form {
    border: 0!important;
    color: #242424!important;
    width: 100%;
}
..subscribe-form  form input {
    background: transparent none repeat scroll 0 0;
    border-color: #bbb;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: none;
    color: #242424;
    font-size: 13px;
    height: 45px;
    padding-left: 0;
    width: 100%;
}


/* Ajax Cart Icon */
.cart-item.add-item .fa-check{
	display: inline-block;
}
.cart-item.loading .icon-handbag,.cart-item.loading.add-item .fa-check, .cart-item.add-item .icon-handbag,.cart-item.loading.add-item .fa-times{
	display: none;
}
.cart-item .icon-settings, .cart-item .fa-check, .cart-item .fa-times{
	display: none;
}
.cart-item.loading .icon-settings{
	display: inline-block;
}
.modal-open .cart-item.add-item .fa-times{
 display: inline-block;
}
/* End ajax Cart Icon */
/* Wishlist Button */
.action--wishlist .icon-settings, .action--wishlist .fa-heart{
	display: none;
}
.action--wishlist.loading-wishlist .icon-settings{
	display: inline-block;
}
.action--wishlist.loading-wishlist .icon-heart, .action--wishlist.add-wishlist .icon-heart{
	display: none;
}
.action--wishlist.active .icon-heart{
	display: none;
}
.action--wishlist.active .fa-heart {
  display: inline-block;
}
.action--wishlist.loading-wishlist .icon-settings{
	display: inline-block;
}
.action--wishlist.loading-wishlist.add-wishlist .fa-heart{
	display: none;
}
.action--wishlist.add-wishlist .fa-heart{
	display: inline-block;
}
/*End Wishlist Button */

li.cart-dropdown.mini-cart {
    padding: 31px 20px 10px;
    border: 0;
    overflow-y: auto;
    max-height: 350px;
}

.shopping-cart-img {
    flex: 0 0 75px;
    margin-right: 10px;
}
.shopping-cart-title {
    flex: 0 0 150px;
}
.shopping-cart-delete {
    flex: 0 0 10px;
}
.shopping-cart-total {
    margin: 25px 0 0;
    display: block;
    width: 100%;
}
.shopping-cart-btn {
    margin-top: 23px;
    width: 100%;
}
.header-cart {
    width: 180px;
}
.timer-style {
    margin: 36px 0 0;
}
.deals-btn{
	 margin: 50px 0 0;
}
.ptb-20{
	padding:20px 0;
}

.breadcrumb-list > li {
    display: inline-block;
}
.breadcrumb-list > li > a {
    position: relative;
    margin-right: 25px;
}

.breadcrumb-list > li > a:before {
    position: absolute;
    content: "/";
    font-size: 14px;
    top: -2px;
    right: -19px;
}
li {
    margin-bottom: 0;
}
.shorting-style select {
    height: 33px;
    line-height: 16px;
}
.pagination-style li a:hover, .pagination-style li.active a, .pagination-style li a.next:hover {
    background-color: #ff3d2a;
    color: #fff;
}
.pagination {
    margin: 0;
}
nav.pagination.pagination-style {
    text-align: center;
    display: block;
}
.sidebar-list-style ul li.active a {
    color: #ff3d2a;
}
li.disabled {
    display: none;
}

#product-area-list-collection-template .section-title {
    padding-right: 10px;
}
#product-area-list-collection-template .section-title-wrap a {
    position: relative;
    z-index: 999999;
    background: #fff;
    padding-right: 10px;
    margin: 0;
}
.recent-post-img {
    flex: 1 0 85px;
}
.recent-post-content {
    flex: 1 0 184px;
}
ul.blog_links li {
    list-style: none;
    line-height: 35px;
    color: #242424;
    font-size: 15px;
  transition: .3s;
}
ul.blog_links li a{
color: #242424;
}
ul.blog_links {
    margin-top: 15px;
}
ul.blog_links li:hover,ul.blog_links li:hover a {
    color: #ff3d2a;
}
.blog-instagram a {
    display: inline-block;
    margin-bottom: 9px;
  position: relative;
    margin-right: 6px;
}
.blog-instagram a::before {
    background-color: #ff3d2a;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.blog-instagram a:hover::before {
    opacity: 0.6;
}
.blog-dec-title {
    margin-bottom: 40px;
}
.blog-reply-wrapper input, .blog-reply-wrapper textarea {
    background: #f7f7f7 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    height: 60px;
    padding: 2px 20px;
}
.blog-reply-wrapper .text-leave input:hover {
    background-color: #242424;
}

.blog-reply-wrapper .text-leave input {
    background-color: #ff3d2a;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    height: inherit;
    margin-top: 40px;
    padding: 14px 30px;
    width: inherit;
}
.blog-reply-wrapper textarea {
    height: 235px;
    padding: 25px 20px;
}
.single-blog-wrapper blockquote {
    margin: 20px 0;
}
.cart-main-area th, .cart-main-area td {
    border: 0;
}
html {
    background-color: transparent;
}
h2.text-capitalize.sub-heading {
    font-size: 30px;
    margin: 0;
}
.cart-clear > input {
    background-color: #f2f2f2;
    border-radius: 3px;
    color: #363f4d;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 11px;
    padding: 18px 63px 19px;
    text-transform: uppercase;
    border: 0;
    transition: .3s;
}
 .cart-clear > input:hover{
    background-color: #ff3d2a;
    color: #fff;
}

/*-------------------------
     28. 404 Page CSS 
---------------------------*/

.error-text > h2 {
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
    color: #242424;
}
.error-text > p {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 0 130px;
    color: #242424;
}

.error-button a {
    background: #242424 none repeat scroll 0 0;
    border-radius: 0;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 0;
    padding: 0 30px;
    text-transform: uppercase;
    height: 40px;
}
.error-button a:hover{
    background: #ff3d2a;
}

.crate-page h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
.crate-page p {
    font-size: 15px;
    margin-bottom: 20px;
}
.crate-page ul {
    margin-bottom: 20px;
}
.crate-page li {
    line-height: 35px;
    font-size: 15px;
    list-style: inside;
}
.crate-page th, .crate-page td {
    border: 1px solid #e9ecef;
}
.product-wrapper.wishlist-tile-container {
    float: left;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}
.login-toggle-btn > a {
    margin-top: 6px;
}
.address_form_new input{
    border: 1px solid #ededed;
    height: 45px;
    box-shadow: none;
    padding-left: 10px;
    font-size: 14px;
    color: #626262;
    width: 100%;
}
.subscribe-form-group .subscribe-form {
    border: 1px solid #242424!important;
    color: #242424;
}
.spr-icon.spr-icon-star-empty {
    opacity: 1;
    color: #242424;
}
.spr-icon.spr-icon-star {
    color: #ff3d2a;
}
.review-page-comment input.spr-button.spr-button-primary.button.button-primary.btn.btn-primary {
    background: #242424;
    border: 0;
    height: 40px;
    padding: 0 30px;
    line-height: 40px;
    font-size: 15px;
    transition: .3s;
    color: #fff;
}
.review-page-comment input.spr-button.spr-button-primary.button.button-primary.btn.btn-primary:hover {
    background: #ff3d2a;
}
.product-anotherinfo-wrapper h2 {
    color: #242424;
    font-size: 32px;
    margin-bottom: 20px;
}
.product-anotherinfo-wrapper p {
    font-size: 15px;
    margin-bottom: 20px;
}
.product-anotherinfo-wrapper ul {
    margin-bottom: 20px;
}
.product-anotherinfo-wrapper li {
    display: block;
    font-size: 15px;
    color: #242424;
    line-height: 30px;
    list-style: inside;
    margin: 0;
}
.pro-dec-rating {
    height: 20px;
}
.pro-dec-rating .spr-icon.spr-icon-star-empty {
    opacity: 1;
    color: #ff3d2a;
    margin-right: 3px;
}
.product-details-content span.product-price-old#ComparePrice {
    font-size: 19px;
    margin-left: 10px;
}

/* Product Swatch Variant */
.swatch .header {
  display: inline-block;
  float: left;
  margin-bottom: 30px;
  margin-right: 20px;
  padding-bottom: 5px;
  position: relative;
}
.swatch .swatch-element {
  float: left;
}
.swatch-element > input {
  display: none;
}
.swatch-element > label {
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
}
.swatch-element input:checked + label {
  color: #666666;
}
.swatch-element > label:hover {
  color: #666666;
}
.swatch-element > label {
  display: block;
}
.product-size {
  margin-bottom: 0px;
}
.product-size .swatch{
  margin-bottom: 40px;
}
.swatch-element.color > label {
  background: #666666 none repeat scroll 0 0;
  border: medium none;
  display: block;
  float: left;
  height: 40px;
  margin-right: 13px;
  margin-top: -13px;
  padding: 0;
  position: relative;
  width: 40px;
  border: 1px solid #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.swatch-element.color.white > label {
  border: 1px solid #999;
}
.swatch-element.color input:checked + label {
  outline: 1px solid #666;
}
.Material .swatch-element {
  float: left;
  padding-right: 10px;
}
.swatch-element.soldout label {
  cursor: not-allowed;
  position: relative;
}
.swatch-element.soldout label::before, .swatch-element.soldout label::after {
  position: absolute;
  left: 43%;
  top: -40%;
  content: "";
  color: red;
  font-size: 40px;
  text-align: center;
  width: 2px;
  height: 32px;
  background: red;
  opacity: .5;
}
.swatch-element.soldout label::before {
  transform: rotate(-40deg);
}
.swatch-element.soldout label::after {
  transform: rotate(40deg);
}
/*
.swatch-element.soldout label:before {
position: absolute;
left: 0;
top: 0;
width: 100%;
background: #000;
content: "";
height: 100%;
opacity: .6;
}
*/
.swatch-element.red.soldout label::after {
  color: black;
}
/* End Product Swatch Variant */
/* Product Select Variant */
.product-variant-option .selector-wrapper label {
  width: 80px;
}
.product-variant-option .selector-wrapper select {
  width: 200px;
  border-radius: 0;
}
.product-variant-option .selector-wrapper + .selector-wrapper {
  margin-top: 20px;
}
/* End Product Select Variant */

/* extra css */

.swatch .header {
    display: block;
    float: none;
    margin-bottom: 16px;
    margin-right: 0;
    padding-bottom: 0;
    position: relative;
    color: #707070;
    font-size: 14px;
    font-weight: 600;
    margin-top: 19px;
}
.swatch-element > label {
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-right: 20px;
    text-transform: uppercase;
    color: #828282;
}
.swatch-element input:checked + label {
    color: #050035;
}
.swatch-element.color > label {
    position: relative;
    border: 1px solid #828282;
    outline: 1px solid transparent;
    border-radius: 50%;
    display: block;
    float: left;
    width: 21px;
    height: 21px;
    margin-right: 10px;
    padding: 1px;
    transition: all 0.3s ease 0s;
  margin-top: 0;
}
.swatch-element.color input:checked + label {
    outline: 1px solid transparent;
}
.product-variant-option .selector-wrapper label {
  display: block;
  margin-bottom: 16px;
  color: #707070;
  font-size: 14px;
  font-weight: 600;
  margin-top: 19px;
  width: 100%;
}
.product-variant-option .selector-wrapper select {
  width: 350px;
  border-radius: 0;
  border: 1px solid #e1e1e1;
  color: #828282;
}

/* end extra css */

.product-details-content .shop-list-cart-wishlist a {
    line-height: 45px;
  height: 45px;
}
.quality input {
    height: 45px;
}

.swatch-color {
    margin-bottom: 20px;
  margin-top: -20px;
  position:relative;
}
.pro-dec-social ul li a i {
    margin-right: 5px;
}
#quickViewModal .modal-dialog {
    margin: 150px auto;
    min-width: 1000px;
}
#quickViewModal .modal-content {
    padding: 30px 30px 30px;
}
#quickViewModal .modal-body {
    padding: 15px 15px 50px!important;
    position: relative;
}
#quickViewModal .modal button.close {
    background: transparent;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 35px;
    font-weight: 600;
    height: 35px;
    letter-spacing: 0.4px;
    opacity: 1;
    padding: 5px;
    position: absolute;
    right: 320px;
    text-shadow: none;
    text-transform: uppercase;
    top: 80px;
    width: 70px;
}
#quickViewModal .quickview-btn-cart button {
    position: relative;
    border: 0;
    line-height: 48px;
    height: 48px;
    width:  170px;
    background-color: #ebebeb;
    font-size: 12px;
    font-weight: 700;
    color: #252525;
    text-transform: uppercase;
    padding: 0 25px;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#quickViewModal .quickview-btn-cart button:hover {
    background: #252525;
    color: #fff;
}
#quickViewModal .quickview-plus-minus .cart-plus-minus {
    margin-right: 20px;
}
#quickViewModal .qwick-view-content h3 {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
    color: #252525;
    line-height: 1;
    margin-bottom: 15px;
}
#quickViewModal .price.price-part {
    display: inline-block;
    margin-bottom: 10px;
}
#quickViewModal .new.price-box__new.amount2.new-price,.old.main.new-price {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    display: inline-block;
    color: #242424;
    margin-right: 10px;
}
#quickViewModal .old.main.new-price.amount.price-box__old {
    color: #242424;
    margin-right: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}
#quickViewModal .product-info__description.product-des p {
    line-height: 27px;
    font-size: 14px;
    color: #515151;
    margin: 0 0 20px 0;
    font-style: italic;
    letter-spacing: .025em;
}
#quickViewModal .selector-wrapper {
    display: block;
    margin-bottom: 15px;
}
#quickViewModal .quickview-plus-minus {
    margin-top: 30px;
}
#quickViewModal select {
    width: 100%;
    background: transparent;
    border: 1px solid #eceff8;
    height: 45px;
    padding-left: 10px;
    box-shadow: none;
    font-size: 14px;
    color: #626262;
}
#quickViewModal .cart-plus-minus {
    position: relative;
    width: 75px;
    float: left;
    padding-right: 25px;
}
#quickViewModal .cart-plus-minus-box {
    border: 1px solid #e1e1e1;
    border-radius: 0;
    color: #3c3c3c;
    height: 49px;
    text-align: center;
    width: 50px;
    padding: 5px 10px;
      background: transparent;
}
#quickViewModal .dec.qtybutton {
    bottom: 0;
    right: 0;
}

#quickViewModal .dec.qtybutton,#quickViewModal .inc.qtybutton {
    background: #f1f1f1 none repeat scroll 0 0;
    cursor: pointer;
    line-height: 15px;
    position: absolute;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: none;
    border: 1px solid #ddd;
}
#quickViewModal .inc.qtybutton {
    top: 0;
    right: 0;
}
.modal button.close {
    background: transparent;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 35px;
    font-weight: 600;
    height: 35px;
    letter-spacing: 0.4px;
    opacity: 1;
    padding: 5px;
    position: absolute;
    right: 320px;
    text-shadow: none;
    text-transform: uppercase;
    top: 80px;
    width: 70px;
}
.subscribe-form {
    height: 100%;
}
.my-address input.button.section-button {
    height: 40px;
    width: 150px;
    border: 0;
    background: #242424;
    color: #fff;
    transition: .3s;
}
.my-address input.button.section-button:hover {
    background: #ff3d2a;
}
.my-address select#AddressCountryNew {
    border: 1px solid #242424;
}
.my-address input {
    border: 1px solid #242424;
    background: transparent;
}
.breadcrumb-list > li > a {
    font-weight: 500;
}
.product-content > h4 {
    text-transform: capitalize;
}
.product-details-content > h4 {
    text-transform: capitalize;
}
.subscribe-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #242424;
}
.subscribe-form input::-moz-placeholder { /* Firefox 19+ */
  color:  #242424;
}
.subscribe-form input:-ms-input-placeholder { /* IE 10+ */
  color:  #242424;
}
.subscribe-form input:placeholder { /* Firefox 18- */
  color:  #242424;
}
.shop-catigory ul > li ul li a {
    text-transform: capitalize;
}
.sidebar-list-style ul li a {
    text-transform: capitalize;
	    padding-left: 18px;
}
.sidebar-list-style ul li {
    position: relative;
}
.sidebar-list-style ul li a:before {
    position: absolute;
    content: "\f096";
    font-family: Fontawesome;
    left: 0;
    top: 0;
      transition: .3s;
}
.sidebar-list-style ul li.active a:before {
    content: "\f046 ";
}

.table-content table td.product-thumbnail {
    padding-left: 15px;
}

.cart-text {
    margin-left: 8px;
    width: 70px;
}


.my-address select#AddressCountryNew {
    height: 47px;
}

.my-account-checkbox input#address_default_address_new {
    height: 13px;
}


/* Custom HTML */
.custom-html-content h1, .custom-html-content h2, .custom-html-content h3, .custom-html-content h4, .custom-html-content h5, .custom-html-content h6{
  color: #000000;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.custom-html-content h1{
  font-size: 26px;
}
.custom-html-content h2{
  font-size: 24px;
}
.custom-html-content h3{
  font-size: 22px;
}
.custom-html-content h4{
  font-size: 20px;
}
.custom-html-content h5{
  font-size: 18px;
}
.custom-html-content h1{
  font-size: 16px;
}
.custom-html-content p{
  margin-bottom: 15px;
  color: #666666;
  font-size: 15px;
  line-height: 27px;
}
.custom-html-content ul{
  padding-left: 15px;
  margin-bottom: 15px;
  list-style: inside;
}
.custom-html-content ul li {
  color: #666666;
  font-size: 15px;
  line-height: 25px;
  padding-left: 15px;
  list-style: inherit;
}
.custom-html-content p, .custom-html-content ul {
  margin-bottom: 20px;
}
.custom-html .section-title h2 span {
    font-size: 36px;
  font-weight: 600;
}
.custom-html .section-title > span {
    font-size: 18px;
}
/* End Custom HTML */
.main-menu nav > ul > li > ul.submenu {
    width: 210px;
}
.main-menu nav > ul > li > ul.mega-menu {
  width: 100%!important;
}
.disabled-add-to-cart {
    cursor: not-allowed;
}



/* header search */
.header-search {
    position: relative;
}
.header-search .search-toggle i {
    display: block;
}
.header-search .search-toggle .s-close {
    opacity: 0;
}
.header-search .search-toggle i.s-close {
    font-size: 19px;
    left: 0;
    position: absolute;
    top: 4px;
}
.header-search .search-toggle.open .s-close {
    opacity: 1;
}
.header-search .search-toggle.open .s-open {
    opacity: 0;
}
.header-search .search-content {
    background-color: transparent;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease 0s;
    visibility: hidden;
    width: 340px;
    z-index: -9999;
}
.header-search .search-content.open {
    opacity: 1;
    right: 100%;
    visibility: visible;
    z-index: 9999;
}
.header-search .search-content form {
    overflow: hidden;
    position: relative;
}
.header-search .search-content form input {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    line-height: 30px;
    padding: 0 55px 0 20px;
    width: 100%;
}
.header-search .search-content form button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-color: #ddd;
    border-image: none;
    border-radius: 0 5px 5px 0;
    border-style: none none none solid;
    border-width: medium medium medium 1px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    height: 100%;
    padding: 0 14px;
    position: absolute;
    right: 0;
    top: 2px;
    transition: all 0.3s ease 0s;
}
.header-search .search-content form button i {
    font-size: 19px;
    line-height: 20px;
}
.same-style button i {
    color: #545454;
    font-size: 19px;
    transition: all .3s ease 0s;
}
/* Subscribe form success */
.form-message--success{
  color: #56ad6a !important;
  background-color: #ecfef0;
  padding: 5px;
  text-align: center;
  margin-bottom: 0;
}
button.success-form-close-btn {
  text-align: right;
  float: right;
  margin-right: 20px;
  padding: 0 5px;
  display: inline-block;
}
/* End subscribe form success */
.form-group.subscribe-form-group p input {
    height: 15px;
}
.deals-content > p {
    width: 100%;
}
.Payment_button button {
    float: left;
    width: 48%;
}

.Payment_button button.shopify-payment-button__button {
    margin-right: 10px;
}
.shopify-payment-button .shopify-payment-button__button, .shopify-payment-button .shopify-payment-button__more-options {
    color: #242424;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #F4F5F7 ;
    display: inline-block;
    line-height: 1;
    padding: 16px 20px 16px;
    z-index: 99;
    border-radius: 3px;
    transition: .3s;
}


.shopify-payment-button .shopify-payment-button__button:hover, .shopify-payment-button .shopify-payment-button__more-options:hover {
    color: #ffffff!important;
    background-color: #ff3d2a!important;
}

.shopify-payment-button .shopify-payment-button__more-options {
    margin: 0;
}
.product-details-content span.product-price-old#ComparePrice {
    text-decoration: line-through;
}
/* Collection Sidebar */
.category-sub-menu ul li.has-sub > a {
  position: relative;
  display: block;
  cursor: pointer;
}
.category-sub-menu ul li.has-sub > a:after {
  content: "+";
  position: absolute;
  right: 5px;
}
.category-sub-menu ul li.has-sub.open {
  display: block;
  width: auto;
}
.category-sub-menu ul li.has-sub.open > a:after {
  content: "-";
}
.category-sub-menu ul li.has-sub li:last-child a {
  border: none;
}
.category-sub-menu ul li ul {
  display: none;
  margin-bottom: 15px;
}
/* End Collection Sidebar */
.blog-widget .shop-catigory > ul {
    border-top: none;
    margin: 0;
    padding: 27px 0 0;
}
.shopify-payment-button .shopify-payment-button__button,.shopify-payment-button .shopify-payment-button__more-options {
    color: #242424;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #F4F5F7;
    display: inline-block;
    line-height: 1;
        padding: 15px 20px 15px;
    z-index: 99;
  transition: all 0.3s ease-in-out;
}
.shopify-payment-button .shopify-payment-button__button:hover,.shopify-payment-button .shopify-payment-button__more-options:hover {
    border: none;
  color: #fff;
  background-color: #ff3d2a;
}
.shopify-payment-button .shopify-payment-button__more-options {
    margin: 0;
}
.product-details-content .pro-details-quality .shopify-payment-button {
    margin: 0 25px 0 10px;
}
.Payment_button {
    overflow: hidden;
    margin-bottom: 25px;
}
.Payment_button button {
    float: left;
    width: 48%;
}
.Payment_button button.shopify-payment-button__button {
    margin-right: 10px;
}
.shopify-payment-button__button--unbranded:hover:not([disabled]) {
    background-color: #ff3d2a!important;
}
.shopify-payment-button__button {
    border-radius: 3px!important;
}
.quality-add-to-cart {
    padding: 40px 0 25px;
}

.sticky-header.sticky {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  border-bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sticky-header.sticky {
    position: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    -webkit-animation-name: inherit;
    animation-name: inherit;
    padding: 0;
    background: inherit;
    opacity: inherit;
  }
}
@media only screen and (max-width: 767px) {
  .sticky-header.sticky {
    position: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    -webkit-animation-name: inherit;
    animation-name: inherit;
    padding: 0;
    background: inherit;
    opacity: inherit;
  }
}





.instagram-activation .instagram_gallery {
  margin-left: -15px;
  margin-right: -15px;
}
.instagram-activation .instagram_gallery a {
  display: inline-block;
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
#instafeed-header .instagram_gallery{
  display: flex;
  flex-wrap: wrap;
  margin: 32px -7px 30px;
}
#instafeed-header .instagram_gallery a{
  margin: 0 7px 15px;
  position: relative;
}
#instafeed-header a {
  float: left;
  margin: 0 7px 15px;
  position: relative;
  width: 21%;
}
#instafeed-header a::before {
  background: #ff4136 none repeat scroll 0 0;
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease 0s;
  width: 100%;
}
#instafeed-header a::after {
  color: #ffffff;
  content: "\e73d";
  font-family: themify;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transition: all 0.5s ease 0s;
  transform: translate(-50%, -50%);
}
#instafeed-header a:hover::before {
  opacity: 0.7;
}
#instafeed-header a:hover::after {
  opacity: 1;
}
.sticky-header.sticky {
    z-index: 999;
}
/* slider img bounce */
@-webkit-keyframes snow {
  0% {
    background-position: 0 0,0 0,0 0; }
  100% {
    background-position: 500px 1000px,400px 400px,300px 300px; } }

@keyframes snow {
  0% {
    background-position: 0 0,0 0,0 0; }
  100% {
    background-position: 500px 1000px,400px 400px,300px 300px; } }


.effect-snow {
  background-image: url("../img/bg/snow1.png");
  -webkit-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite; }

.body-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0); }

.slider-area,.testimonials-area-2,.video-area,.footer-area,.single-banner-3 {
    position: relative;
}


.testimonials-area-2 {
    padding-bottom: 100px;
}
.testimonials-area-2 {
    padding-top: 100px;
}

.transperant-header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 999;
    background: transparent;
}
.slider-content.slider-animated-1 {
    position: relative;
    z-index: 9;
}
.testimonials-area-2 .testimonial-img img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.product-quantity {
    position: relative;
}

.product-quantity span {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.product-quantity span.inc.qtybtn {
    left: auto;
    right: 40px;
}
.banner_full_content h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.banner_full_content h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: capitalize;
}
.banner_full_content a {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-transform: capitalize;
  display: inline-block;
  border-radius: 3px;
  padding: 0 30px;
  margin-top: 30px;
  background: #000;
}
.banner_full_content a:hover {
  background: #ff3d2a;
  color: #fff;
}
.wishlist_exists .row.wishlist-grid--empty-list {
  display: none;
}
.pro-dec-feature p {
    margin: 0;
}
.product-variant-inventory,.product-sku {
    margin-top: 8px;
}
.rating-review {
    margin: 10px 0 10px;
}
.product_coundown {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  opacity: 1;
    visibility: visible;
    transition: .3s;
}
.product_coundown span {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    color: #313131;
    font-size: 18px;
    padding: 5px 15px;
  margin: 0 1px;
    opacity: 1;
    visibility: visible;
    transition: .3s;
}
.product_coundown span p {
	margin: 0;
   color: #313131;
}
.product-wrapper:hover .product_coundown {
  opacity: 0;
  visibility: hidden;
}
.product-details-content .product_coundown {
  position: static;
  top: 0;
  transform: translateY(0);
  text-align: left;
}
.product-details-content .product_coundown span {
    background-color: #ff3d2a;
    color: #fff;
  margin: 0 5px 0 0;
}
.product-details-content .product_coundown span p {
   color: #fff;
}
.product_coundown.product_timing h5 {
    font-size: 18px;
    margin-bottom: 12px;
}

.product_coundown.product_timing {
    margin-bottom: 30px;
}

.single_banner {
 position:relative;
   overflow: hidden;
}
.banner-animation::before {
 background:rgba(255,255,255,.3);
 bottom:0;
 content:"";
 left:50%;
 position:absolute;
 right:50%;
 top:0;
 opacity:1;
 width:0;
 z-index: 2;
}
.banner-animation::after {
 background:rgba(255,255,255,.6);
 bottom:50%;
 content:"";
 left:0;
 position:absolute;
 right:0;
 top:50%;
 opacity:1;
 width:0;
 z-index: 2;
}
.banner-animation:hover::before {
 left:0;
 right:0;
 opacity:0;
 width:auto;
 transition:all .9s linear
}
.banner-animation:hover::after {
 top:0;
 bottom:0;
 opacity:0;
 width:auto;
 transition:all .9s linear
}

.cart-plus-minus {
  border: 1px solid #dddddd;
  overflow: hidden;
  padding: 7px 0 7px 5px;
  width: 80px;
  height: 45px;
  border-radius: 5px;
}
.qtybutton {
  color: #666666;
  cursor: pointer;
  float: left;
  font-size: 16px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  position: relative;
  text-align: center;
  width: 20px;
}
input.cart-plus-minus-box {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  float: left;
  font-size: 16px;
  height: 28px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 25px;
}
.qtybutton.inc {
  margin-top: 2px;
}
.quickview-btn-cart {
  margin: 0 0 0 30px;
}
.qtybutton.inc, .qtybutton.dec {
    margin-top: 5px;
}
.quality.product-quantity-action.quantity-selector {
    display: flex;
    align-items: center;
}
.quality label {
    margin: 0 15px 0 0;
}
.swatch-element.color input:checked + label::before {
    content: "\f00c";
    position: absolute;
    font-family: "FontAwesome";
    color: #fff;
    font-size: 12px;
    left: 1px;
    right: 0;
    text-align: center;
    top: 1px;
    z-index: 99;
}
.swatch-element.color.white input:checked + label::before {
    color: #000;
}
.shorting-style select {
    background: #fff url(shop.png) no-repeat scroll right 10px center;
}
.ListCollection-product .section-title {
    padding-right: 10px;
}
.ListCollection-product .section-title-wrap {
    background: #fff;
}
.error-button a {
    border-radius: 5px;
}
/* Compare css  */
.loading-modal {
  background: #fff url("loading.gif") center 14px no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 50%!important;
  bottom: auto;
  left: 50% !important;
  right: auto;
  width: 56px;
  height: 56px;
  margin-left: -28px;
  margin-top: -28px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  text-indent: -999em;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.close-modal {
  float: right;
  bottom: 0;
  position: absolute;
  right: 0;
}
.compare_modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;

}
#compare-modal #table-compare th { font-weight:normal; }
#compare-modal .close-modal { bottom:auto;top:-15px;right:-7px;font-size:30px; }

#compare-modal .product_price { margin-bottom:10px; }

#compare-modal .product_price strong { margin-right:7px; }

#compare-modal table .btn { padding:10px 24px;font-size:13px; }

#compare-modal table button,#compare-modal table p { margin:0; }

#moda-compare .modal-content{
  border-radius: 0;
}

#table-compare th,#table-compare td { text-align:center; }
#table-compare td img { margin-bottom:5px; }
.compare_modal .th-compare th { text-align:center; }
.compare_modal h4 { text-align:center;margin:0;padding:20px; }
.compare-modal-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 30px;
    background: #000;
    color: #fff;
    padding: 18px 18px;
    line-height: 25px;
}
#moda-compare .modal-dialog {
  position: relative;
  width: auto;
  margin: 30px auto;
  max-width: 65%;
}
.compare_modal h4 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 17px;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
#compare-modal .modal-header {
  justify-content: center;
  position: relative;
}
#compare-modal th button,#compare-modal tr td {
  text-align: center;
  float: inherit;
}
#compare-modal .product-price strong {
  margin-right: 7px;
}
#compare-modal td a:hover, #compare-modal  .product-price,#compare-modal .modal-close:hover .fa.fa-times-circle {
  color: #d82e2e;
}
#compare-modal td a {
  text-transform: uppercase;
  font-size: 12px;
  color: #727272;
  font-weight: normal;
}
#compare-modal .product-price {
  margin-bottom: 5px;
  margin-top: 5px;
}
#compare-modal .modal-close .fa.fa-times-circle {
  transition: all 0.3s ease-out 0s;
}
#compare-modal th button, #compare-modal tr td {
  font-size: 14px;
  font-weight: 400;
  opacity: 1;
}
#compare-modal .table-hover tbody tr:hover {
  background-color: rgba(0,0,0,.03);
}
#compare-modal .table thead th {
  vertical-align: bottom;
  border-bottom: 0px solid #dee2e6;
}
/* End Compare CSS */

.section-bg-white {
    z-index: 9;
}
.banner-wrap {
    z-index: 9;
}
#quickViewModal .qtybutton.inc,#quickViewModal .qtybutton.dec {
    margin-top: 0;
}
#quickViewModal .cart-plus-minus {
    border: 0;
    padding: 0;
    height: auto;
  border-radius: 0;
}
.compare_modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    display: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
#moda-compare .overlay {
    position: absolute;
    background: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .3s;
}

#recently-viewed-products h2 {
    color: #242424;
    font-size: 24px;
    margin: 0 0 20px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 32px;
}
.single-product.recent-view {
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 19px;
    margin-bottom: 18px;
}
.single-product-item.product-item .product-img{
    float: left;
    width: 25%;
}
.single-product-item.product-item .product-info {
    float: left;
    padding-left: 10px;
    text-align: left;
    width: 75%;
}
.single-product-item.product-item .product-info h6 {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0;
    font-weight: 700;
}
.single-product-item.product-item .product-info h6 a {
    color: #242424;
}
.single-product-item.product-item .product-info h3.pro-price span.old-price {
    color: #545454;
    font-size: 14px;
    margin-right: 5px;
    text-decoration: line-through;
    font-weight: 400;
}
.single-product-item.product-item .product-info h3.pro-price span.new-price {
    font-size: 14px;
    font-weight: 500;
    color: #c09578;
}
.single-product-item.product-item .product-info h3.pro-price {
    margin-bottom: 0;
}

.shop-widget .blog-search {
    margin-top: 20px;
}
.shop-widget.mt-40.shop-sidebar-border.pt-35:first-child {
    border: none;
    margin: 0;
    padding: 0;
}
.blog-details-wrapper .shop-pagination.text-center {
    width: 100%;
}
.pro-dec-social {
    margin: 15px 0 10px;
}
.pro-dec-social span {
    margin-bottom: 5px;
    display: block;
}
.custom-payment-options {
    margin-bottom: 10px;
}
.custom-payment-options p {
    margin-bottom: 5px;
}
.cart-coupon.coupon_code.grand-totall textarea {
    background: #fff;
    color: #242424;
    margin-top: 12px;
    border: none;
}
.culculate-shipping-form {
    margin-top: 12px;
}
.culculate-shipping-form select, .culculate-shipping input  {
    border: 1px solid #fff;
    color: #242424;
    background: #fff;
    width: 100%;
}
p.shipping-info .theme-default-button {
    background-color: #ff3d2a;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 24px;
    margin-bottom: 0;
    padding: 8px 25px;
    border-radius: 0;
    text-align: center;
}
p.shipping-info .theme-default-button:hover {
    background-color: #242424;
}
p.shipping-info {
    margin: 0;
}
.grand-totall>a {
    border-radius: 0;
}
/* FAQ */
.faq-page .card {
  margin-bottom: 2px;
}
.faq-page .card-header {
  padding: 5px 1.25rem;
}
.faq-page .card .card-header button {
  position: relative;
  width: 100%;
  text-align: left;
  font-weight: 600;
}
.faq-page .card .card-header button::before {
  content: "-";
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 22px;
}
.faq-page .card .card-header button.collapsed::before {
  content: "+";
}
.faq-page .faq-page-title{
  margin-bottom: 20px;
}
.faq-page .btn-link{
  color: #000;
}
.faq-page .card-body {
  padding: 20px;
  padding-bottom: 0;
}
.faq-page .card-header {
    background-color: #f8f9f9;
}
.btn:active, .btn--secondary:active, .btn:focus, .btn--secondary:focus, .rte .btn:active, .rte .btn--secondary:active, .rte .btn:focus, .rte .btn--secondary:focus {
    background-color: transparent;
    color: #000;
}
/* End FAQ */












