/* large desktop :1366px. */
@media (min-width: 1200px) and (max-width: 1400px) {

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.recent-post-content {
    flex: 1 0 155px;
}
 .recent-post-img {
    flex: 1 0 60px;
}
.recent-post-img {
    margin-right: 10px;
}
    .product-wrapper.wishlist-tile-container {
  width: 33.33%;
}
 
    .modal button.close {
    right: 0;
}
  
  .product-quantity span {
    left: 12px;
}
  
  .product-quantity span.inc.qtybtn {
    right: 20px;
}
  
  
  
  
  
  
  
  
  
  
  
  
}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) { 
  
  .header-cart {
    width: 120px;
    margin-right: 30px;
}
.account-curr-lang-wrap ul li ul {
  left: auto;
  right: 0;
}
  .description-review-topbar a {
  margin: 0 8px;
}
  .blog-sidebar-wrapper.sidebar-mrg {
  margin-top: 50px;
}
  .recent-post-img {
    flex: 0 0 85px;
}
    .product-wrapper.wishlist-tile-container {
  width: 33.33%;
}
 
    
    .modal button.close {
    right: 0;
}
 
  #quickViewModal .modal-dialog {
    min-width: 720px;
}
  .qwick-view-content {
    margin-top: 30px;
}
  
  .product-quantity span {
    left: 15px;
}
  .product-quantity span.inc.qtybtn {
    right: 20px;
}
  
  
  #moda-compare .modal-dialog {
    max-width: 80%;
  }
  
  
  
  

}


/* small mobile :320px. */
@media (max-width: 767px) { 

  li.cart-dropdown.cart-empty-title h2 {
  font-size: 16px;
}
  .shopping-cart-content {
  right: -24px;
}
  
  .blog-sidebar-wrapper.sidebar-mrg {
  margin-top: 50px;
}
 .recent-post-img {
    flex: 0 0 85px;
} 
.login-toggle-btn > a {
  display: block;
  float: none;
  margin-top: 48px;
}
.login-toggle-btn {
  overflow: hidden;
}  
.button-box button {
    float: left;
}
  .shopping-cart-title {
  flex: 0 0 140px;
}
  
 .shopping-cart-img {
  flex: 0 0 75px;
} 
  
    .product-wrapper.wishlist-tile-container {
  width: 100%;
}
   
 .total-pages {
    text-align: center;
} 
  
  .error-text > p {
    padding: 0 0;
}
 
    #quickViewModal .modal-dialog {
    min-width: 310px;
}
  
  #quickViewModal .modal-content {
    padding: 10px;
}
  #quickViewModal .quickview-plus-minus .cart-plus-minus {
    margin-right: 10px;
}
    .modal button.close {
    right: 0;
}
  
  .qwick-view-content {
    margin-top: 30px;
}

.mt-30-3{
	margin-top:30px;
}
  
 .popup_off {
    padding: 0 0;
    top: 0;
} 
  
  .subscribe_area {
    padding: 0 20px;
}
.header-search .search-content {
  right: auto;
  top: 100%;
  transform: translateY(0);
  width: 289px;
  left: -68px;
}
  
  .Payment_button button {
    float: none;
    width: 100%;
}
  .shopify-payment-button .shopify-payment-button__more-options {
    margin-top: 15px;
}
   .instagram-activation .instagram_gallery a {
  width: 100%;
}
  .cart-main-area table {
    border: none;
}
.table-content table tbody > tr {
    border-bottom: none;
}
  .table-content table td.product-thumbnail {
    padding-left: 0;
    width: 100%;
}
  
  .table-content table td.product-name,.table-content table td.product-price-cart,.table-content table td.product-quantity,.table-content table td.product-remove {
    width: 100%;
}
  .table-content table td.product-quantity {
    overflow: hidden;
    text-align: center!important;
}
  
  .table-content table tbody > tr:last-child {
    border-bottom: 1px solid #ebebeb;
}
  .cart-shiping-update > a {
    width: 100%;
    text-align: center;
}
  
  .product-quantity input.cart-plus-minus-box {
    float: none;
}
  .product-quantity span {
    left: 35%;
}
  .product-quantity span.inc.qtybtn {
    right: 35%;
}
  .product-quantity input.cart-plus-minus-box {
    border: none;
}
  
  #moda-compare .modal-dialog {
    max-width: 90%;
  }
  
  .shop-list-cart-wishlist a {
    margin: 0 4px 0 0;
        width: 45px;
}
  
  .quality label {
    margin: 0 8px 0 0;
}
  .quality {
    margin: 0 8px 0 0;
}
  
  
  
  
  
  
  
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

.header-cart {
    width: 100px;
    margin-right: 40px;
}
.login-toggle-btn > a {
  float: right;
  margin-top: 6px;
}

  
  .cart-text {
    width: 60px;
}
  .product-quantity span {
    left: 40%;
}
  .product-quantity span.inc.qtybtn {
    right: 40%;
}
  
  
  
  
  
  
  
  




}