
.theme-bg {
    background: #ff3d2a;
}
#scrollUp:hover {
    background: #ff3d2a none repeat scroll 0 0;
}
.btn-style:hover {
    background-color: #ff3d2a;
    border: 2px solid #ff3d2a;
}
.btn-style-2 {
    background-color: #ff3d2a;
}
.account-curr-lang-wrap ul li:hover > a {
    color: #ff3d2a;
}
.account-curr-lang-wrap ul li ul li:hover > a {
    color: #ff3d2a;
}
.account-curr-lang-wrap ul li.top-hover ul > li > a::before {
    background: #ff3d2a none repeat scroll 0 0;
}
.header-cart > a .cart-icon span {
    background-color: #ff3d2a;
}
.shopping-cart-title > h4 a:hover {
    color: #ff3d2a;
}
.shopping-cart-delete > a:hover {
    border: 2px solid #ff3d2a;
    color: #ff3d2a;
}
.shopping-cart-total > h4 span.shop-total {
    color: #ff3d2a;
}
.shopping-cart-btn a:hover {
    background-color: #ff3d2a;
}
.main-menu ul li:hover > a {
    color: #ff3d2a;
}
.main-menu ul li.top-hover ul li > a::before {
    background: #ff3d2a none repeat scroll 0 0;
}
.slider-content h3 {
    color: #ff3d2a;
}
.slider-btn a {
    background-color: #ff3d2a;
}
.slider-btn a:hover {
    color: #ff3d2a;
}
.slider-active.owl-carousel > .owl-nav div:hover {
    background-color: #ff3d2a;
}
.banner-content > a:hover {
    border-bottom: 1px solid #ff3d2a;
    color: #ff3d2a;
}
.product-tab-list a.active h4 {
    color: #ff3d2a;
}
.product-img > span {
    background-color: #ff3d2a;
}
.product-action a:hover {
    background-color: #ff3d2a;
}
.product-content > h4 a:hover {
    color: #ff3d2a;
}
.product-price-wrapper > span.product-price-old {
    color: #ff3d2a;
}
.product-nav .owl-nav div:hover {
    background-color: #ff3d2a;
}
.deals-content > h2 span {
    color: #ff3d2a;
}
.deals-btn > a {
    background-color: #ff3d2a;
}
.social-icon li a:hover,
.footer-contact li a:hover {
    color: #ff3d2a;
}
.footer-content li a:hover {
    color: #ff3d2a;
}
.subscribe-form form .clear-2 input {
    background-color: #ff3d2a;
}
.copyright > p a:hover {
    color: #ff3d2a;
}
.modal-header .close:hover {
    color: #ff3d2a;
}
.nav-style.owl-carousel > .owl-nav div:hover {
    background-color: #ff3d2a;
}
.breadcrumb-content li {
    color: #ff3d2a;
}
.breadcrumb-content li a:hover {
    color: #ff3d2a;
}
.shop-catigory ul li:hover > a,.shop-catigory ul li.active > a {
    color: #ff3d2a;
}
.shop-catigory ul li:hover > a i {
    color: #ff3d2a;
}
.price_filter .ui-slider-range {
    background: #ff3d2a none repeat scroll 0 0;
}
.price_filter .ui-slider-handle.ui-state-default.ui-corner-all {
    background: #ff3d2a none repeat scroll 0 0;
}
.price_slider_amount > button:hover {
    background-color: #ff3d2a;
}
.sidebar-list-style ul li a:hover {
    color: #ff3d2a;
}
.compare-product-btn > a:hover {
    background-color: #ff3d2a;
}
.shop-tags a:hover {
    border: 1px solid #ff3d2a;
    background-color: #ff3d2a;
}
.view-mode li.active a {
    color: #ff3d2a;
}
.pagination-style li a:hover,
.pagination-style li a.active,
.pagination-style li a.next:hover {
    background-color: #ff3d2a;
}
.shop-list-cart-wishlist a:hover {
    background-color: #ff3d2a;
}
.product-list-details h4 a:hover {
    color: #ff3d2a;
}
.product-dec-slider .product-dec-icon:hover {
    color: #ff3d2a;
}
.product-details-img > span {
    background-color: #ff3d2a;
}
.pro-dec-rating i.theme-star {
    color: #ff3d2a;
}
.in-stock > p span {
    color: #ff3d2a;
}
.pro-dec-feature li span {
    color: #ff3d2a;
}
.pro-dec-categories li a:hover {
    color: #ff3d2a;
}
.description-review-topbar a.active {
    border-bottom: 2px solid #ff3d2a;
    color: #ff3d2a;
}
.ratting-star i {
    color: #ff3d2a;
}
.rating-form-style.form-submit input {
    background: #ff3d2a none repeat scroll 0 0;
}
.pro-dec-btn > a:hover {
    background-color: #ff3d2a;
}
.table-content table td.product-remove a:hover {
    color: #ff3d2a;
}
.cart-shiping-update > a:hover,
.cart-clear > button:hover,
.cart-clear > a:hover {
    background-color: #ff3d2a;
}
button.cart-btn-2 {
    background-color: #ff3d2a;
}
h4.grand-totall-title {
    color: #ff3d2a;
}
.grand-totall > a {
    background-color: #ff3d2a;
}
.product-wishlist-cart > a {
    background-color: #ff3d2a;
}
.login-toggle-btn>a:hover {
    color: #ff3d2a;
}
.login-register-tab-list.nav a.active h4,
.login-register-tab-list.nav a h4:hover {
    color: #ff3d2a;
}
.button-box button:hover {
    background-color: #ff3d2a;
}
h5.panel-title a:hover {
    color: #ff3d2a;
}
.login-forget > a:hover {
    color: #ff3d2a;
}
.login-forget > p {
    color: #ff3d2a;
}
.checkout-login-btn > a:hover,
.checkout-register > a:hover,
.billing-btn > button:hover {
    background-color: #ff3d2a;
}

.billing-back>a:hover {
    color: #ff3d2a;
}
.billing-back > a i {
    color: #ff3d2a;
}
.billing-back-btn>span a {
    color: #ff3d2a;
}
.edit-address>a:hover {
    color: #ff3d2a;
}
.entries-edit-delete > a:hover,
.entries-edit-delete > a.edit:hover {
    background-color: #ff3d2a;
}
.contact-tab-list li a.active,
.contact-tab-list li a:hover {
    color: #ff3d2a;
}
.contact-information > p a:hover {
    color: #ff3d2a;
}
.contact-form-style > button {
    background-color: #ff3d2a;
}
.blog-date-categori ul li a {
    color: #ff3d2a;
}
.blog-date-categori ul li a::before {
    background-color: #ff3d2a;
}

.quote-post {
    background-color: #ff3d2a;
}
.blog-gallery-slider .owl-nav div:hover {
    color: #ff3d2a;
}
.blog-social ul li a:hover,
.blog-btn > a:hover,
.blog-author > h4 a:hover,
.news-form > button:hover,
.blog-categori ul li a:hover,
.blog-tags ul > li a:hover,
.blog-sidebar-social li a:hover,
.link-content > h3 a:hover,
.blog-content > h2 a:hover {
    color: #ff3d2a;
}
.blog-btn > a:hover::before {
    background-color: #ff3d2a;
}
.recent-post-content > h4 a:hover {
    color: #ff3d2a;
}
.blog-instagram li a::before {
    background-color: #ff3d2a;
}
.blog-dec-tags ul li a:hover,
.blog-dec-social ul li a:hover {
    color: #ff3d2a;
}
.blog-reply-wrapper form .text-leave input {
    background-color: #ff3d2a;
}
.overview-content-2 > h2 span {
    color: #ff3d2a;
}
.overview-content-2 > h2::before {
    background-color: #ff3d2a;
}
.count-title h2 {
    color: #ff3d2a;
}
.about-testi .testimonial-rating i.theme-star-coffee {
    color: #ff3d2a;
}
.testimonial-active.about-testi-active .owl-dot.active {
    background: #ff3d2a none repeat scroll 0 0;
}
.pagination-style li a:hover, .pagination-style li.active a, .pagination-style li a.next:hover {
    background-color: #ff3d2a;
}
.sidebar-list-style ul li.active a {
    color: #ff3d2a;
}
ul.blog_links li:hover,ul.blog_links li:hover a {
    color: #ff3d2a;
}
.blog-instagram a::before {
    background-color: #ff3d2a;
}

.blog-reply-wrapper .text-leave input {
    background-color: #ff3d2a;
}
 .cart-clear > input:hover{
    background-color: #ff3d2a;
}
.error-button a:hover{
    background: #ff3d2a;
}
.spr-icon.spr-icon-star {
    color: #ff3d2a;
}
.review-page-comment input.spr-button.spr-button-primary.button.button-primary.btn.btn-primary:hover {
    background: #ff3d2a;
}
.pro-dec-rating .spr-icon.spr-icon-star-empty {
    color: #ff3d2a;
}
.my-address input.button.section-button:hover {
    background:#ff3d2a;
}

.shopify-payment-button .shopify-payment-button__button:hover, .shopify-payment-button .shopify-payment-button__more-options:hover {
    background-color: #ff3d2a!important;
}

.shopify-payment-button__button--unbranded:hover:not([disabled]) {
    background-color: #ff3d2a!important;
}
.banner_full_content a:hover {
  background: #ff3d2a;
}
.product-details-content .product_coundown span {
    background-color: #ff3d2a;
}
.product-dec-slider a.active img {
    border: 2px solid #ff3d2a;
}
p.shipping-info .theme-default-button {
    background-color: #ff3d2a;
}











